@model DansveSalon.Models.salon

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>salon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.bolumadi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bolumadi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.acıklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.acıklama)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.bolumid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
