@model DansveSalon.Models.ogretmendans

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ogretmendans</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dans.dansadi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dans.dansadi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ogretmen.adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ogretmen.adi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ogrdesid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
